.main {
  /* flex: 1; */
  /* border: 2px dashed red; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  width: 200%;
  position: relative;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  position: relative;
}

.btn {
  /* position: absolute;
  bottom: 0; */
  justify-self: end;
}
.stackCard {
  position: absolute;
}
.play {
  padding: 2rem;
}

/* grid-template-areas:
    'null position3 null'
    'position2 table position4'
    'null position1 null '; */
