.main {
  flex: 2;
  /* border: 2px dashed red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: relative;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  position: relative;
}

.btn {
  /* position: absolute;
  bottom: 0; */
  justify-self: end;
}
.stackCard {
  position: absolute;
}
.play {
  padding: 2rem;
}
