/* @import url("../../card-images/KingClubs.png"); */

.main {
  height: 90px;
  width: 60px;
  background-color: #525b84;
  border-radius: 5px;
  overflow: hidden;
  /* margin: 0 0.2rem; */
  /* border: black 1px solid; */

  cursor: pointer;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.377);
  transition: all ease 0.4s;
}
