.main {
  height: 90px;
  width: 60px;
  background-color: #ffffff;
  background-image: url();
  border-radius: 5px;
  overflow: hidden;
  /* margin: 0 0.2rem; */
  /* border: black 1px solid; */

  cursor: pointer;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.377),
    4px 0px 5px rgba(0, 0, 0, 0.377);
  /* transition: all ease 0.2s; */
}

/* */

/* .active {
  transform: scale(1.2) !important;
} */
