.main {
  display: flex;
  width: 100%;
  max-width: 300px;
  justify-content: space-around;
  background-color: transparent;
  flex-wrap: wrap;
  margin: 5rem;
  /* flex: 1; */
  /* border: dashed 1px yellow; */
  z-index: 6;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  /* overflow: scroll; */
}

/* .inHand {
  border: dashed 1px yellow;
  z-index: 6;
  justify-content: center;
} */

.card {
  margin: -3rem -1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.192);
  transition: all 0.5s ease;
}

.active {
  transform: scale(1.2);
}

.active:hover {
  transform: translateY(-5px) scale(1.2);
  box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.192);
}
