.main {
  min-height: 100vh;
  background: radial-gradient(at 25%, #016db2, #001d33);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  /* flex-direction: column;
    justify-content: space-between;
    /* max-width: 1200px; */
}

.button {
  width: 100%;
  padding: 4rem 3rem;
  margin: 1rem 0;
}

.choice {
  display: flex;
}

.active {
  background-color: black;
  color: white;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin: 10rem;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 4rem; */
}

.titleContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.685);
  /* padding: 4rem; */
  /* margin: 10rem; */
  font-size: 150%;
}

.titleContainer h2 {
  font-size: 300%;
}

.titleContainer h1 {
  font-size: 700%;
}
@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .titleContainer h1 {
    font-size: 600%;
    line-height: 10rem;
  }
  .buttonContainer {
    margin: 1rem 3rem;
  }
}
