.main {
  display: grid;
  max-width: 1100px;
  width: 100%;
  margin: auto;
  /* justify-content: center; */
  /* max-width: 1000px; */
  height: 80vh;
  margin: auto;
  border: 5px purple dashed;
  /* margin: auto; */
  /* align-items: center; */
  grid-template-areas:
    "menu pos2 pos3 pos3 pos3 pos3 pos4 end"
    "menu pos2 message middle middle action pos4 end"
    "menu pos2 pos1 pos1 pos1 pos1 pos4 end";

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* min-height: 300px; */
  /* flex: 1; */
}

.position1 {
  grid-area: pos1;
  border: 5px dashed red;
  /* justify-self: center;
  align-self: center; */

  /* width: 800px; */
}
.position2 {
  grid-area: pos2;
  border: 5px dashed orange;
  /* transform: rotate(90deg) translateY(-100px); */
  /* justify-self: center;
  align-self: center;
  width: 100%;
  min-height: 200px; */
  /* transform: rotate(270deg) translateY(50px); */
  /* width: 130%; */
  /* height: 100px; */
  /* justify-self: self-end; */
  /* width: 20px; */
  /* width: 400px; */
}

.position3 h4 {
  /* transform: rotate(180deg); */
}

.position3 {
  grid-area: pos3;
  border: 5px dashed yellow;
  /* transform: rotate(180deg);
  justify-self: center;
  align-self: center;
  height: 100%; */
}
.position4 {
  grid-area: pos4;
  border: 5px dashed yellowgreen;
  /* transform: rotate(270deg) translateY(-100px);
  min-height: 200px;
  justify-self: center;
  align-self: center;
  width: 100%; */
}

.deck {
  grid-area: deck;
  border: 5px dashed lightblue;
}
.stack {
  grid-area: stack;
  border: 5px dashed blue;
}

.middle {
  grid-area: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quit {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
  /* width: 80px; */
  padding: 1rem;
  background-color: red !important;
}
