.main {
  display: flex;
  width: 100%;

  max-width: 1000px;
  height: 200px;
  margin: auto;
  align-items: center;

  /* min-height: 300px; */
  /* flex: 1; */
}

.quit {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
  /* width: 80px; */
  padding: 1rem;
  background-color: red !important;
}
