.main {
  height: 100vh;
  background: radial-gradient(#43725a, #1e4735);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-width: 1200px; */
  margin: auto;
}
