.main {
  height: 100vh;
  background: radial-gradient(#74c69d, #2d6a4f);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-width: 1200px; */
  margin: auto;
}
